#logoBar {
  width: 30vw;
  height: 100vh;
}
#siteLogo {
  width: 100%;
}
body {
  display: flex;
  background-color: burlywood;
}
.card {
  background-color: beige;
  border-radius: 20px;
  border-style: solid;
  border-color: #773426;
  border-width: 3px;
  margin: 16px;
  padding: 8px 4px 4px 4px;
  height: fit-content;
}
h1,
h2,
h3 {
  color: #773426;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
#staffGallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.galleryImage {
  width: auto;
  height: auto;
  height: 200px;
}
@media (max-width: 600px) {
  body {
    flex-direction: column;
    justify-content: space-evenly;
  }

  #logoBar {
    width: 100%;
    height: auto;
    order: 1;
  }

  #staffGallery {
    width: 100%;
    order: 2;
    align-items: center;
    flex-direction: column;
  }
}
